div#content {
    display: none;
    }
 
div#loading {
    top: 200 px;
    margin: auto;
    position: absolute;
    z-index: 1000;
    width: 200px;
    height: 200px;
    background: url("../img/68.gif") no-repeat;
    cursor: wait;
    margin-left:650px;
    margin-top: 300px;
    }
  
body{
	 background-color:#;
   overflow-y:scroll; 
   	 }
      

/*#header {position: fixed;}*/
#header{position: fixed;
        margin-top: 0px;
        width: 1340px;
        height: 25px;
        }
#header ul{position: static;
	   list-style-type:none;
	   margin:0;
	   padding:0;
	   overflow:hidden;
	   background-color: #111109;

	  } 
#header li{ float:left;
            font-size: 120%;}
#header li a {
   		 display: block;
    	 color: white;
       text-align: center;
   		 padding: 16px 16px 10px 16px;
   		 text-decoration: none;
       transition: font-size 1s;
        font-family: 'Exo 2', sans-serif;
   	     }
#header li a:hover:not(.active) {
    		background-color: #2e2e1f;
        width: 100%;
        transition: font 2s,transform 1s;

	        }
#header li a:hover{ transform: rotateY(360deg);
                    
        font-size: 18px;


          }          
.star{color: red;}          	 
input:focus {background-color: #ffffb3;}
input[type=text]:focus {
    border-bottom: 3px outset  #ff66ff;}
input[type=password]:focus {
    border-bottom: 3px outset  #b3ffb3; }   
input[type=email]:focus {
    border-bottom: 3px outset  #ffff00; }
input[type=number]:focus {
    border-bottom: 3px outset  #ffccff; }       
input[type=tel]:focus {
    border-bottom: 3px outset  #b3ffb3; }
input[type=time]:focus {
    border-bottom: 3px outset  #ffccff; }
input[type=time]:focus {
    border-bottom: 3px outset  #00e6ac; }                  
.active {
    background-color: #4CAF50; }

#smart {position: absolute;
    width:1350px;
  	height:740px;  
    overflow-x:hidden;
    z-index: 1000; 
	  
	 } 

#welcome {color:white; 
      margin-top: 15px;
		  font-family: 'Dynalight', cursive;
		  font-size:30px;
		  margin-left:30px;}   
#head {text-align: center;
       margin-top: 160px;
	     color:white;
       letter-spacing: 10px;
       font-size:100px;
	     text-shadow: 2px 2px #cc80ff;
       font-family: 'Philosopher', sans-serif;
	     /*font-family: 'Droid Sans', sans-serif;*/
       /*font-family: 'Open Sans Condensed', sans-serif;*/
       animation-name: colorchange;
       animation-duration: 60s;
       -webkit-animation-name:colorchange;
       -webkit-animation-duration:60s;
       animation-iteration-count: infinite;
       -webkit-animation-iteration-count:infinite;
      
         
      }	
   
@keyframes colorchange
    {  0%  {color:#ffffff;}
       20% {color:#66ff00;}
       40% {color:#00ffff;}
       60% {color:#9900ff;}   
       80% {color:#FF6600;}   
      100% {color:#ffff33;}
    }
@-webkit-keyframes colorchange
    {
        0% {color:#ffffff;}
       20% {color:#66ff00;}
       40% {color:#00ffff;}
       60% {color:#9900ff;}   
       80% {color:#FF6600;}   
      100% {color:#ffff33;}   
    }             
#logo {/*margin-left:200px;*/
       text-align: center;
       margin-top: 200px;
       font-size: 20px;
       letter-spacing: 5px;
       font-family: 'Raleway', sans-serif;
       color:#e600e6;
        -webkit-animation: mymove 5s ; /* Chrome, Safari, Opera */
       animation: mymove 5s ;
	   
	   }
 @-webkit-keyframes mymove {
    50% {letter-spacing: 100px;
          color: #ff99ff;
         }
  }       
 textarea {
    width: 50%;
    height: 150px;
    padding: 12px 20px;
    box-sizing: border-box;
    border-left: 2px outset #00e6ac;
    border-radius: 4px;
    background-color: #e6fff9;
    font-size: 15px;
    resize: none;
}    
input[type=button], input[type=submit] {
    background-color: #00e6b8;
    border-bottom: 3px outset  #00e6ac;
    color: white;
    padding: 4px 10px 6px 10px;
    text-decoration: none;
    margin: 4px 2px;
    align:center ;
    cursor: pointer;
    width: 1000px;
}
#butn{border-radius: 5px 20px;
 transition-duration: 1s;
 align:center ; 
 width: 200px;}
#butn:hover {
   box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}
#butn:active {
  background-color: #00e6e6;
  box-shadow: 0 5px #666;
  transform: translateY(3px);
}

#container {background-image:url("../img/programming-wallpaper-1366x768.jpg");
           background-size: 1350px 700px;
           background-repeat: repeat-y;
           height: 600px;
           background-position: 50% 50%;
          background-repeat: no-repeat;
          background-attachment: fixed;
          -webkit-background-size: cover;
          -moz-background-size: cover;
         -o-background-size: cover;
          background-size: cover;

      
      }
   #container2{background-image: url("../img/1920_1080_20100827123645329960.jpg");
            background-size: 1350px 700px;
      background-repeat: repeat-y;
    height: 600px;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;}
#ABOUT{ background-image: url("../img/bahubali-3840x2160.jpg");
      background-size: 1440px 1800px;
      height: 910px;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }

.sign {
	color:red;
  text-shadow: 2px 2px 5px red;
	padding-top:50px;
	font-family:italic;
	font-size:50px;
	text-align:center;
 
      } 
#container {
  width: 1349px;
  height: 720px;
  margin-top: -130px;
 margin:40px auto;
  margin-top: 20px;
  
}	  

#container2{ 
    /* position: relative;*/
     margin-top: -60px; 
     width: 1349px;
     height: 2200px;}
#container2 input:hover {font-size: 120%;}
#ABOUT{width: 1349px;
      margin-top: -20px;}
input {
  margin: 0 0 .4em 1em;
  height: 40px;
  border-radius: 10px;
  box-sizing: border-box;
  box-shadow: 1px 1px 1px rgba(0,0,0,.01);
  border: 0;
  border-bottom: 5px solid rgba(0,0,0,.12);
  line-height: 30px;
}

[type='text'] {
  font-family:italic;	
  padding-left: 1em;
}
[type='*']{color:red;}

[type='submit'] {
  color: white;
  background-color: #2980b9;
  font-weight: 700;
  
}

.signin {
  margin-left:500px;	
  width: 420px;
  height:300px;
  background-color: rgba(0,0,0,.5);
  text-align: left;
  padding: 1.25em;
  border-radius: 30px;

}

.signup {
  margin-left:350px;	
  width: 605px;
  height:2000px;
  background-color: rgba(0,0,0,.4);
  text-align: left;
  padding: 1.25em;
  border-radius: 30px;
}
#uplink{color: white;
text-decoration: underline;}
#uplink a {color: white;}
#uplink a:hover {color: red;}
#abstract{
    font-size: 20px;
    margin-left: 70px;
    margin-right: 70px;
    font-style: italic;

}
.dev{
  font-size: 30px;
  font-weight: 400px;
  text-align: center;
  font-family: 'Philosopher', sans-serif;
}
#lab{
    font-family: 'Open Sans Condensed', sans-serif;
    font-variant: small-caps;
    color: red;
    font-size: 20px;
    }
#map{
  height: 200px;
  width: 400px;
  background-color: #ccc;
}
div.devimg {
    margin: 70px;
    border: 10px;
    border-style: none;
    float: left;
    width: 180px;
    
} 
div.devimg img {
    width: 100%;
    height: auto;
    border-radius:15px 50px 30px;
}

div.desc {
    font-size: 18px;
    color: #000066;
    padding: 15px;
    text-align: center;
     font-style:italic;
     font-family: 'Philosopher', sans-serif;
   
}

.foot{
  background-color: black;
  display:inline-block;
  text-decoration: none;
  color: inherit;
  height: 80px;
  width: 1349px;
  overflow-x:hidden; 
}
p.footname{
  font-size: 20px;
  margin-top: 20px; 
  text-align: center;
  color: white;
}

.exf {
 /* -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: block;*/
  width: 60%;
  padding: 11px 7px;
  padding-right: 43px;
  background-color: #fff;
  font-size: 1.2em;
  color: #ccc;
  border: 1px solid #c8c8c8;
  border-bottom-color: #d2e2e7;
  border-radius: 8px;
  box-shadow: 0 2px 2px rgba(0,0,0,0.1), 0 0 0 3px #c2d6d6;  
  -webkit-transition: all 1s linear;
   transition: all 1s linear;
}

.exf:focus {
  width: 95%;
  color: #666;
  box-shadow: inset 0 1px 20px rgba(0,0,0,0.2), 0 0 0 5px #e0e0e0;
}
.exf2 {
 /* -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: block;*/
  width: 40%;
  padding: 11px 7px;
  padding-right: 43px;
  background-color: #fff;
  font-size: 1.2em;
  color: #ccc;
  border: 1px solid #c8c8c8;
  border-bottom-color: #d2e2e7;
  border-radius: 8px;
  box-shadow: 0 2px 2px rgba(0,0,0,0.1), 0 0 0 1px #c2d6d6;  
  -webkit-transition: all 1s linear;
   transition: all 1s linear;
}

.exf2:focus {
  width: 70%;
  color: #666;
  box-shadow: inset 0 1px 20px rgba(0,0,0,0.2), 0 0 0 3px #e0e0e0;
}

.background-wrap{
  position: relative;
  z-index: -1000;
  width: 1320px;
  height: 700px;
  top: 0;
  left: 0;
}
* {margin: 0;
   padding: 0;}
/*#video-bg-element{
  position: absolute;
  width: 1320px;
  height: 720px;
  z-index: -100;
  margin-left:-40px;
} */ 
#video-bg-element{
  position: absolute;
  width: 1385px;
  height: 800px;
  z-index: -100;
  margin-left:-40px;
  margin-top: -40px;
  overflow-x:hidden;  
}
.content{background-color: rgba(0,0,0,.9);
          height: 740px;
          margin-top: 0px;}
#forget{
  color:yellow;
  font-size: 15px;
}
#forget p:hover{color:white;
               cursor: pointer; }        

div.devimg img:hover { filter:drop-shadow(8px 8px 10px white);
                  cursor: wait;
                  filter:blur(5px); }